<p-dropdown  [options]="items" [(ngModel)]="value" [style]="{'width':'100%'}" [placeholder]="question.placeholder"
             [readonly]="question.readonly" [disabled]="question.readonly" filter="filter" appendTo="body"></p-dropdown>
<!--(onchange)="onchange($event)"-->
<!--<input [id]="question.key" [type]="question.type" [readonly]="question.readonly" autocomplete="off" pInputText-->
       <!--[ngClass]="{'error':question.validateErrors != ''&&question.validateErrors != undefined}" class="form-input"-->
       <!--[placeholder]="question.placeholder" [(ngModel)]="value">-->

