<p-calendar [(ngModel)]="value" [style]="{'width':'100%'}"
            [monthNavigator]="question.monthNavigator" [yearNavigator]="question.yearNavigator" [yearRange]="question.yearNavigator" [showTime]="question.showTime"
            [timeOnly]="question.timeOnly"
            [showIcon]="question.showIcon"
            [minDate]="question.minDate" [maxDate]="question.maxDate" [readonlyInput]="question.readonlyInput"
            [dateFormat]="question.dateFormat"
            [locale]="china" [placeholder]="question.placeholder" [disabled]="question.readonly"
            appendTo="body"
            ></p-calendar>
